*
{
	font-family: 'Lato', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background: url("sky.jpg") no-repeat fixed;
	background-size: cover;
	text-align: center;
}

main{
	text-align: center;
}

#grandTitre
{
	margin: 20px;
	font-family: 'BioRhyme', serif;
}

nav{
	text-align: center;
}

ul{
	text-decoration: none;
	list-style-type: none;
}

#navbar li {
	display: inline;
	margin : 5px;
}

a{
	text-decoration: none;
}

.time
{
	font-style: ;
}
#email{
	text-decoration: none;
	color: green;
}

section
{
	margin: 20px;
	padding: 20px;
	background-color: rgba(0,0,0,0.5)

}

section ul{
	margin: 15px;
}

#fenetre
{
	margin: auto;
}
